header{
height:40px;
background-color:#292b2a;
text-align:center;
color:gray;
text-decoration:underline;
font-style:italic;

}
.Email{
text-align:right;
color:orange;
text-decoration:underline;
}
body{
background-color:#5925db;
font-family:Times;
}
h2{
color:#8691c4;
text-decoration:underline;
}
table, td{
border: 1px solid;
border-collapse:collapse;
padding:10px;
background-color:gray;
}
table{
margin:5px auto;
width: 70%;
}
#Denumire{
color:yellow;
}	
#Producator{
color:yellow;
}
#Parametri{
color:yellow;
}
#CPU{
color:orange;
}
#Intel{
color:orange;
}
#Specificatii1{
color:orange;
}
#GPU{
color:orange;
}
#Nvidia{
color:orange;
}
#Specificatii2{
color:orange;
}
#SSD{
color:orange;
}
#Samsung{
color:orange;
}
#Specificatii3{
color:orange;
}
#poza{
display:block;
margin-left: auto;
margin-right: auto;
border-radius:15px;
padding: 10px;
opacity:0.9;
border-style:solid;
background-color:#c3e7eb;
}
#Adresa{
text-align:right;
}
#AdresaIP{
text-align:right;
}
#Download{
text-align:right;
}
#Upload{
text-align:right;
}
ul{
list-style:none;
margin:0;
padding: 0;
text-align:right;
}

h3{
color:#8777bd;
text-decoration:underline;
font-size: 25px;
}
h4{
color:#8777bd;
text-decoration:underline;
font-size: 25px;
}
#Cpu{
position:relative;
background-color:#7474ed;
border-radius:25px;
margin-left:auto;
margin-right:auto;
padding:10px;
border-style:solid;
}
#Disk{
position:relative;
background-color:#7474ed;
border-radius:25px;
margin-left:auto;
margin-right:auto;
padding:10px;
border-style:solid;
}
#Memorie{
position:relative;
left:325px;
border-style:solid;
background-color:#7474ed;
border-radius:25px;
margin-left:auto;
margin-right:auto;
padding:10px;
}

.container-t{
color:orange;
text-decoration:underline;
}
.Poze{

position:relative;

background-color:#7474ed;
border-radius:25px;
margin-left:auto;
margin-right:auto;
padding:10px;
border-style:solid;
}

#CPUYT{
position:relative;
left:100px;
color:white;
}

#MemorieYT{
position:relative;
left:700px;
bottom:35px;
color:white;
}

#DiskYT{
position:relative;
left:1315px;
bottom:70px;
color: white;
}
.Retea{
border: 1px solid;
border-collapse: collapse;
padding: 10px;
background-color:#9fb5c4;
}
